.DS_Store
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.orig
resources/views/layouts/layout.blade.php.1
public/frontend/css/index.css.1
resources/views/frontend/cart/index.blade.php.updateByDOM
.vscode/sftp.json
.vscode/
